<div class="modal fade" id="deleteModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Ação</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <b>Tem certeza que dejesa excluir esta anotação?</b><br>
            Essa ação não poderá ser desfeita.
          </div>
          <div class="modal-footer">
            <a class="btn btn-danger" href = "/developer/filme/{{filme.id}}/delete">Deletar</a>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          </div>
        </div>
    </div>
</div>
<div class="container">
	<h2 class = "text-center"> Edite {{filme.titulo}} </h2>
	<form id = "cad" method = "post" action = "/developer/filme/{{filme.id}}/edit" autocomplete="off">
		<div class = "row justify-content-center">
			<div class = "col-auto">
				<div class="form-group">
					<label>Título</label>
					<input name = "titulo" id = "titulo" class = "form-control" value = "{{filme.titulo}}">
				</div>
                <br>
				<div class = "form-group">
					<label>Ano</label>
					<select name = "ano" id = "ano" class="form-control form-select form-select-lg">
					  
					</select>
				</div>
                <br>
				<div class="form-group">
					<label> Direção </label>
					<input name = "direcao" id = "direcao" class = "form-control" value = "{{filme.direcao}}">
				</div>
                <br>
				<div class="form-group">
					<label>Duração</label>
					<input name = "duracao" id = "duracao" class = "form-control" value = "{{filme.duracao}}">
				</div>
                <br>
				<div class="form-group">
					<label>Sinopse</label>
					<textarea name = "sinopse" id = "sinopse" class = "form-control">{{filme.sinopse}}</textarea>
				</div>
			</div>
			<div class = "col-auto">
				<div class="form-group">
					<label>Título original</label>
					<input name = "titulo_original" id = "titulo_original" class = "form-control" value = "{{filme.titulo_original}}">
				</div>
                <br>
				<div class="form-group">
					<label>Roteiro</label>
					<input name = "roteiro" id = "roteiro" class = "form-control" value = "{{filme.roteiro}}">
				</div>
                <br>
				<div class="form-group">
					<label>Foto</label>
					<input name = "foto" id = "foto" class = "form-control" value = "{{filme.foto}}">
				</div>
                <br>
				<div class="form-group">
					<label>Background foto</label>
					<input name = "bg_foto" id = "bg_foto" class = "form-control" value = "{{filme.bg_foto}}">
				</div>
			</div>
		</div>
        <br>
		<div class = "container text-center"> 
            <a class = "btn btn-danger btn-lg" data-bs-toggle="modal" data-bs-target="#deleteModal">Deletar</a>
			<button type = "submit" class = "btn btn-primary btn-lg">Editar</button>
		</div>
	</form>
</div>

<script type = "text/javascript">
	$(document).ready(function() {
		let date = new Date(Date.now());
		let ano = date.getFullYear();
		for(let y = ano; y >= 1900; --y) {
			let option = $("<option></option>");
			option.text("" + y);
			option.val("" + y);
			$("#ano").append(option);
		}
		$("#ano").val("{{filme.ano}}");
	});

	$("#cad").on("submit", function(event) {
		let titulo = $("#titulo").val();
		let direcao = $("#direcao").val();
		let roteiro = $("#roteiro").val();
		let duracao = $("#duracao").val();
		let sinopse = $("#sinopse").val();
		let titulo_original = $("#titulo_original").val();
		let foto = $("#foto").val();
		let bg_foto = $("#bg_foto").val();
		let stop = false;

		let re = new RegExp("^\\d+$");
		
		if(titulo.length == 0) {alert("titulo está vazio"); stop = true;}
		else if(direcao.length == 0) {alert("direcao está vazio"); stop = true;}
		else if(roteiro.length == 0) {alert("roteiro está vazio"); stop = true;}
		else if(duracao.length == 0) {alert("duracao está vazio"); stop = true;}
		else if(!re.test(duracao)) {alert("duracao é só inteiro"); stop = true;}
		else if(sinopse.length == 0) {alert("sinopse está vazio"); stop = true;}
		else if(titulo_original.length == 0) {alert("titulo_original está vazio"); stop = true;}
		else if(foto.length == 0) {alert("foto está vazio"); stop = true;}
		else if(bg_foto.length == 0) {alert("background foto está vazio"); stop = true;}

		if(stop) event.preventDefault();
	});
</script>
