<div class="modal fade" id="deleteModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Ação</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <b>Tem certeza que dejesa excluir esta anotação?</b><br>
            Essa ação não poderá ser desfeita.
          </div>
          <div class="modal-footer">
            <a class="btn btn-danger" href = "/developer/filme/{{filme.id}}/delete">Deletar</a>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          </div>
        </div>
    </div>
</div>
<div class="container">
	<h2 class = "text-center"> Edite {{filme.titulo}} </h2>
	<form id = "cad" method = "post" action = "/developer/filme/{{filme.id}}/edit" autocomplete="off">
		<div class = "row justify-content-center">
			<div class = "col-auto">
				<div class="form-group">
					<label>Título</label>
                    {{#if errors.titulo}}
                        <input name = "titulo" id = "titulo" class = "form-control is-invalid" value = "{{filme.titulo}}">
                        <div class = "invalid-feedback">
                            {{#each errors.titulo}}
                                {{msg}} <br>
                            {{/each}}
                        </div>
                    {{else}}
                        <input name = "titulo" id = "titulo" class = "form-control" value = "{{filme.titulo}}">
                    {{/if}}
				</div>
                <br>
				<div class = "form-group">
					<label>Ano</label>
                    {{#if errors.ano}}
                        <select name = "ano" id = "ano" class="form-control form-select form-select-lg is-invalid">
					  
					    </select>
                        <div class = "invalid-feedback">
                            {{#each errors.ano}}
                                {{msg}} <br>
                            {{/each}}
                        </div>
                    {{else}}
                        <select name = "ano" id = "ano" class="form-control form-select form-select-lg">
					  
					    </select>
                    {{/if}}
				</div>
                <br>
				<div class="form-group">
					<label> Direção </label>
                    {{#if errors.direcao}}
                        <input name = "direcao" id = "direcao" class = "form-control is-invalid" value = "{{filme.direcao}}">
                        <div class = "invalid-feedback">
                            {{#each errors.direcao}}
                                {{msg}} <br>
                            {{/each}}
                        </div>
                    {{else}}
                        <input name = "direcao" id = "direcao" class = "form-control" value = "{{filme.direcao}}">
                    {{/if}}
				</div>
                <br>
				<div class="form-group">
					<label>Duração</label>
                    {{#if errors.duracao}}
                        <input type = "number" name = "duracao" id = "duracao" class = "form-control is-invalid" value = "{{filme.duracao}}">
                        <div class = "invalid-feedback">
                            {{#each errors.duracao}}
                                {{msg}} <br>
                            {{/each}}
                        </div>
                    {{else}}
                        <input type = "number" name = "duracao" id = "duracao" class = "form-control" value = "{{filme.duracao}}">
                    {{/if}}
				</div>
                <br>
				<div class="form-group">
					<label>Sinopse</label>
                    {{#if errors.sinopse}}
                        <textarea name = "sinopse" id = "sinopse" class = "form-control is-invalid">{{filme.sinopse}}</textarea>
                        <div class = "invalid-feedback">
                            {{#each errors.sinopse}}
                                {{msg}} <br>
                            {{/each}}
                        </div>
                    {{else}}
                        <textarea name = "sinopse" id = "sinopse" class = "form-control">{{filme.sinopse}}</textarea>
                    {{/if}}
				</div>
			</div>
			<div class = "col-auto">
				<div class="form-group">
					<label>Título original</label>
                    {{#if errors.titulo_original}}
                        <input name = "titulo_original" id = "titulo_original" class = "form-control is-invalid" value = "{{filme.titulo_original}}">
                        <div class = "invalid-feedback">
                            {{#each errors.titulo_original}}
                                {{msg}} <br>
                            {{/each}}
                        </div>
                    {{else}}
                        <input name = "titulo_original" id = "titulo_original" class = "form-control" value = "{{filme.titulo_original}}">
                    {{/if}}
				</div>
                <br>
				<div class="form-group">
					<label>Roteiro</label>
                    {{#if errors.roteiro}}
					    <input name = "roteiro" id = "roteiro" class = "form-control is-invalid" value = "{{filme.roteiro}}">
                        <div class = "invalid-feedback">
                            {{#each errors.roteiro}}
                                {{msg}} <br>
                            {{/each}}
                        </div>
                    {{else}}
					    <input name = "roteiro" id = "roteiro" class = "form-control" value = "{{filme.roteiro}}">
                    {{/if}}
				</div>
                <br>
				<div class="form-group">
					<label>Foto</label>
                    {{#if errors.foto}}
					    <input name = "foto" id = "foto" class = "form-control is-invalid" value = "{{filme.foto}}">
                        <div class = "invalid-feedback">
                            {{#each errors.foto}}
                                {{msg}} <br>
                            {{/each}}
                        </div>
                    {{else}}
					    <input name = "foto" id = "foto" class = "form-control" value = "{{filme.foto}}">
                    {{/if}}
				</div>
                <br>
				<div class="form-group">
					<label>Background foto</label>
                    {{#if errors.bg_foto}}
					    <input name = "bg_foto" id = "bg_foto" class = "form-control is-invalid" value = "{{filme.bg_foto}}">
                        <div class = "invalid-feedback">
                            {{#each errors.bg_foto}}
                                {{msg}} <br>
                            {{/each}}
                        </div>
                    {{else}}
					    <input name = "bg_foto" id = "bg_foto" class = "form-control" value = "{{filme.bg_foto}}">
                    {{/if}}
				</div>
			</div>
		</div>
        <br>
		<div class = "container text-center"> 
            <a class = "btn btn-danger btn-lg" data-bs-toggle="modal" data-bs-target="#deleteModal">Deletar</a>
			<button type = "submit" class = "btn btn-primary btn-lg">Editar</button>
		</div>
	</form>
</div>

<script type = "text/javascript">
	$(document).ready(function() {
		let date = new Date(Date.now());
		let ano = date.getFullYear();
		for(let y = ano; y >= 1900; --y) {
			let option = $("<option></option>");
			option.text("" + y);
			option.val("" + y);
			$("#ano").append(option);
		}
		$("#ano").val("{{filme.ano}}");
	});
</script>
