<div class="container-fluid align-items-center">
	<h1 class = "text-center"> Resultados de "{{queryTitulo}}" </h1>
	<form class = "row justify-content-center" autocomplete = "off" method = "get" action = "/filme/results/1">
		<div class="col-auto">
			<input name = "titulo" class = "form-control" value = "{{queryTitulo}}">
		</div>
		<div class="col-auto">
		<button type="submit" class="btn btn-primary">Pesquisar</button>
		</div>
	</form>
	<p class = "text-center">
		Essa pesquisa resultou em {{cnt_resultados}} resultados.
	</p>
</div>


<div class = "container">
	{{#each shows}}
		<hr>
		<a href = "/filme/profile/{{id}}" class = "text-decoration-none">
			<div class = "row align-items-center justify-content-center">
				<div class = "col-sm-2 text-center">
					<img src = "/images/thumb/{{foto}}" class = "img-thumbnail" />
				</div>
				<div class = "col-sm-8 text-dark">
					<h3>{{titulo}}</h3>
					<p>{{sinopse}} ...</p>
				</div>
			</div>	
		</a>
	{{/each}}
</div>

<nav>
	<ul class = "pagination justify-content-center">
		{{#if previousPage}}
		<li class="page-item">
      		<a class="page-link" href="{{previousPage}}">Anterior</a>
   		</li> 
		{{else}}
		<li class="page-item disabled">
      			<a class="page-link" href="#" tabindex="-1">Anterior</a>
   			 </li>
		{{/if}}
		{{#each pages}}
			{{#if is_cur_page}}
			<li class = "page-item active">
				<a href = "{{url}}" class = "page-link"> {{text}} </a>
			</li>
			{{else}}
			<div class = "page-item">
				<a href = "{{url}}" class = "page-link"> {{text}} </a>
			</div>
			{{/if}}
		{{/each}}
		{{#if nextPage}}
		<li class="page-item">
      		<a class="page-link" href="{{nextPage}}">Próxima</a>
   		</li> 
		{{else}}
		<li class="page-item disabled">
      			<a class="page-link" href="#" tabindex="-1">Próxima</a>
   			 </li>
		{{/if}}
	</ul>
</nav>

